body {
    width: 100%;
    height: 100%;
    color: #ffffff;
	font: 12px 'Roboto', sans-serif;
    font-weight: 300;
	margin: 0;
    background-color: #ffffff;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: #000000;
    z-index: 99990;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #000000;
    margin: auto;
    display: inline-block;
}
footer p {
    display: flex;
    align-items: center; 
    justify-content: center;
}
#logo {
    position: fixed;
    top: 12px;
    left: 20px;
    display: flex;
}
#contactsBtn{
    width: 22px;
    height: 15px;
    position: fixed;
    top: 17px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.banner {
    width: 300px;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: left;
}
.banner img {
    margin: 0px;
    padding: 0px;
}
.bannerPlayBtn {
    position: absolute;
    z-index:2;
    cursor: pointer;
    width: 300px;
    height: 600px;
}
.bannerPlayBtn span {
    position: absolute;
    z-index:3;
    align-items: center; 
    justify-content: center;
    width: 300px;
    height: 600px;
    display: flex;
    text-decoration: none;
}
.bannerPlayBtn span:after {
    display: block;
    position: absolute;
    left: 118px; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #ffffff; /*задаём цвет линии*/
    content: "";
    margin-top: 16px;
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.bannerPlayBtn span:hover:after,
.bannerPlayBtn span:focus:after {
    width: 65px; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.moreBanners {
    width: 300px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.50);
    position: absolute;
    z-index:4;
    align-items: center; 
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
}
.moreBanners span{
    width: 150px;
    height: 50px;
    position: absolute;
    align-items: center; 
    justify-content: flex-end;
    display: flex;
    margin-right: 20px;
    text-decoration: none;
}
.moreBanners span:after {
    display: block;
    position: absolute;
    left:67px; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 1px; /*задаём ширину линии*/
    background-color: #ffffff; /*задаём цвет линии*/
    content: "";
    margin-top: 16px;
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.moreBanners span:hover:after,
.moreBanners span:focus:after {
    width: 83px; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.bannerImg {
    position: absolute;
    z-index:1;
    width: 300px;
    height: 600px;
}
.bannerStopBtn {
    width: 300px;
    height: 600px;
    position: absolute;
    z-index:2;
    cursor: pointer;
}
iframe {
    width: 300px;
    height: 600px;
    position: absolute;
    z-index:1;
    margin: 0px;
}
#banners {
    display: block;
    margin-top: 50px;
}
#bannersConteiner {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#loadMoreBtnConteiner {
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}
#loadMoreBtn{
    align-items: center; 
    justify-content: center;
    width: 170px;
    height: 45px;
    display: flex;
    cursor: pointer;
    color: #000;
    font: 14px 'Roboto', sans-serif;
    text-decoration-color: #000;
    border: 2px solid black;
}
#loadMoreBtn:hover {
    align-items: center; 
    justify-content: center;
    width: 170px;
    height: 45px;
    display: flex;
    cursor: pointer;
    color: #FFF;
    font: 14px 'Roboto', sans-serif;
    text-decoration-color: #000;
    border: 2px solid black;
    background-color: #000;
}
#contacts {
    width: 360px;
    height: 170px;
    position: fixed;
    background-color: #000000;
    top: 60px;
    right: 14px;
    visibility: hidden;
}
#closeContactsBtn {
    cursor: pointer;
    top: 68px;
    right: 24px;
    width: 13px;
    height: 13px;
    position: fixed;
}
#contactText {
    position: fixed;
    top: 85px;
    right: 70px;
    font-size: 14px;
    line-height: 1.5;
}
#contactText span{
    display: block;
}
a {
    text-decoration: none;
    color: #ffffff;
}
#infoBtn {
    width: 17px;
    height: 17px;
    position: fixed;
    top: 16px;
    right: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#info {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:99991;
    background-color:  rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
#infoConteiner {
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    background:url(../images/footerBg.png), repeat-x, repeat-y;
}
#closeInfoBtn {
    cursor: pointer;
    width: 13px;
    height: 13px;
    padding-left: 383px;
    padding-top: 4px;
    
}
#infoText {
    font-size: 14px;
    position: absolute;
    padding-left: 30px;
    padding-top: 55px;
}
h1, b {
    font-size: 18px;
    font-weight: 600;
}